@import './styles.styl'

.markdownRender {
	font-size: 15px
    h1 {
		margin: 15px 0px
		font-size: 32px
		font-weight: 500
	}
	h2 {
		margin: 15px 0px
		font-size: 24px
		font-weight: 500
	}
	h3 {
		margin: 15px 0px
		font-size: 18.72px
		font-weight: 500
	}
	h4 {
		margin: 15px 0px
		font-size: 16px
		font-weight: 500
	}
	h5 {
		margin: 15px 0px
		font-size: 13.28px
		font-weight: 500
	}
	h6 {
		margin: 15px 0px
		font-size: 10.72px
		font-weight: 500
	}
	blockquote {
		border-left: 2px solid nord3
		padding-left: 20px
	}
	ul {
		list-style: inside
		padding-left: 20px
		margin-bottom: 10px
	}
		ol {
		list-style: decimal
		padding-left: 20px
	}
	li::marker {
		font-weight: 600
	}
	table {
		width: 100%
		margin: 15px 0px
	}
	th {
		border: 2px solid nord0
		padding: 5px 15px
	}
	td {
		border: 2px solid nord0
		padding: 5px 15px
	}
	a {
		color: nord8
		&:visited {
			color: nord7
		}
	}
	img {
		max-width: 600px
		margin: 20px auto
	}
	mark {
		background-color: nord9
		padding: 0px 10px
	}
	dd {
		padding: 0px 30px
	}
	ul.contains-task-list {
		list-style: none
	}
	.task-list-item-checkbox {
		cursor: pointer
		pointer-events: none
	}
	pre {
		::-webkit-scrollbar {
			height: 11px
		}
		::-webkit-scrollbar-track {
			background: nord0
		}
		::-webkit-scrollbar-thumb {
			background: nord2
			border-radius: 10px;
		}
		::-webkit-scrollbar-thumb:hover {
			background: nord3;
		}
	}
}