@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500');
nord0 = #2e3440
nord1 = #3b4252
nord2 = #434c5e
nord3 = #4c566a
nord4 = #d8dee9
nord5 = #e5e9f0
nord6 = #eceff4
nord7 = #8fbcbb
nord8 = #88c0d0
nord9 = #81a1c1
nord10 = #5e81ac
nord11 = #bf616a
nord12 = #d08770
nord13 = #ebcb8b
nord14 = #a3be8c
nord15 = #b48ead

.button-blue {
    border: none !important
    outline: none !important
    padding: 0.5rem 1rem 
    font-size: 1.25rem/* 20px */
    line-height: 1.75rem/* 28px */
    font-weight: 500
    transition-property: background-color, border-color, color, fill, stroke
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 150ms
    border-radius: 0.375rem
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    background-color: nord8
    color: nord6

    &:hover {
        background-color: nord7
    }
}

.button-green {
    border: none !important
    outline: none !important
    padding: 0.5rem 1rem 
    font-size: 1.25rem/* 20px */
    line-height: 1.75rem/* 28px */
    font-weight: 500
    transition-property: background-color, border-color, color, fill, stroke
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    transition-duration: 150ms
    border-radius: 0.375rem
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
    background-color: nord14
    color: nord6

    &:hover {
        background-color: nord7
    }
}

.noOutline {
    border: none !important
    outline: none !important
}